[Unit]
After=syslog.target
After=network.target
Description=headscale coordination server for Tailscale

[Service]
Type=simple
User=headscale
Group=headscale
ExecStart=/usr/bin/headscale serve
Restart=always
RestartSec=5

WorkingDirectory=/var/lib/headscale
ReadWritePaths=/var/lib/headscale /var/run

[Install]
WantedBy=multi-user.target

